<div class="container">

  <nav aria-label="breadcrumb" class="pano-orio">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About us</li>
    </ol>
  </nav>

  <!------------------------------------------------------------------------------------------------------------------------------->

  <div class="row row-header">
    <div class="col-12">
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div class="row row-content" style="border-bottom: none; margin-bottom: -60px;">

    <div class="col-12 col-sm-6">
      <h2>Our History</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper nunc quis maximus
        pharetra. Quisque ut molestie ante. Donec mattis pharetra erat, eu ultricies ipsum faucibus et.
        Curabitur ultrices risus turpis, laoreet pulvinar justo interdum in. Quisque vel semper tellus.
        Etiam nibh arcu, sodales quis ultrices nec, egestas vitae libero. </p>
      <p>Nulla ultrices diam at tortor volutpat, <em>et facilisis justo facilisis</em>. Phasellus dignissim
        euismod mi eget dignissim. Sed eget consequat urna. </p>
    </div>

    <div class="col col-sm">
      <div class="card">
        <h3 class="card-header bg-secondary text-white">Facts At a Glance</h3>
        <div class="card-body">
          <dl class="row">
            <dt class="col-6">Started</dt>
            <dd class="col-6">3 Feb. 2013</dd>
            <dt class="col-6">Major Stake Holder</dt>
            <dd class="col-6">HW Fine Sweets Inc.</dd>
            <dt class="col-6">Last Year's Turnover</dt>
            <dd class="col-6">$250,000</dd>
            <dt class="col-6">Employees</dt>
            <dd class="col-6">10</dd>
          </dl>
        </div>
      </div>
    </div>

  </div>

  <!----------------- ABOUT -------------------->
  <!-- <div class="row ">
    
    <div class="col-12">
      <h3>About us</h3>
      <hr>
    </div>

  </div> -->

  <!--------------- HEADING & MEDIA DIVS --------------------->
  <div class="row">

    <h4 class="col-12">Corporate Leadership</h4>

    <div class="media" *ngFor="let leader of leaders">

      <img class=" img-thumbnail align-self-end" src="{{leader.image}}" alt={{leader.name}}>

      <div class="media-body">

        <h5 class="mt-4">{{leader.name | uppercase}}
          <span class="badge badge-danger">{{leader.designation}}</span>
          <span class="badge badge-pill badge-success">{{leader.abbr}}</span>
        </h5>

        <p class="col d-none d-sm-block">
          {{leader.description}}
        </p>

      </div>
    </div>
  </div>

</div>