<div class="container">

  <nav aria-label="breadcrumb" class="pano-orio">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Menu</li>
    </ol>
  </nav>

  <!----------------- MENU -------------------->
  <div class="row ">
    
    <div class="col-12">
      <h3>Menu</h3>
      <hr>
    </div>

  </div>

  <!--------------- HEADING & MEDIA DIVS --------------------->
  <div class="row mb-4">

    <h4 class="col-12">Our famous chocolates</h4>

    <div class="media ml-3 mb-1" *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">

      <img class="img-thumbnail align-self-end" src="{{dish.image}}" alt={{dish.name}}>

      <div class="media-body">

        <h5 class="mt-4 ml-2">{{dish.name | uppercase}}
          <span class="badge badge-danger">{{dish.label}}</span>
          <span class="badge badge-pill badge-success">{{dish.price}}</span>
        </h5>

        <p class="d-none d-sm-block ml-2">
          {{dish.description}}
        </p>

      </div>
    </div>
  </div>

  <!-- <app-dishdetail [dish] = "selectedDish"></app-dishdetail> -->

</div>