/* You can add global styles to this file, and also import other style files */

.row-header {
    margin:0px auto;
    padding:0px;
  }

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}

.footer {
    background-color: 	#dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

/* --------------------------------------------------------- */

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.bg-light {
    background-color: #dbb08d !important;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}

.nav-link {
    font-size: 18px;
}


/* -------------------- CAROUSEL ------------------------ */

.carousel {
    background-color: rgb(168, 95, 35);
    /* background:#914d15b0; */
}
.carousel-item {
    height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}


/* -------------- header & content --------------------- */

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

/* .footer{
    background-color: #dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
} */

.pano-orio {
    margin-top: 19px;
}
