/* You can add global styles to this file, and also import other style files */

.row-header {
    margin:0px auto;
    padding:0px;
  }

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}

.footer {
    background-color: 	#dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

/* --------------------------------------------------------- */

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.bg-light {
    background-color: #dbb08d !important;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}

.nav-link {
    font-size: 18px;
}


/* -------------------- CAROUSEL ------------------------ */

.carousel {
    background-color: rgb(168, 95, 35);
    /* background:#914d15b0; */
}
.carousel-item {
    height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}


/* -------------- header & content --------------------- */

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

/* .footer{
    background-color: #dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
} */

.pano-orio {
    margin-top: 19px;
}


/*-------------- TABLE ROW COLOURS --------------------*/

.color-1 {
    background-color: lemonchiffon;
}

.color-2 {
    background-color: rgba(119, 18, 18, 0.644);
}

.color-3 {
    background-color:lightyellow;
}

.color-4 {
    background-color: rgb(199, 70, 70);
}

.color-5 {
    background-color: rgb(204, 72, 32);
}

.color-6 {
    background-color: rgb(135, 240, 65);
}

.color-7 {
    background-color: rgb(244, 247, 94);
}

#table-knowledge td {
    border-top-color: black;
    border-bottom-color: black;
}

#table-knowledge {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#table-knowledge {
    border: 6px solid rgba(235, 160, 160, 0.87);
}

#table-knowledge tr td:first-child,#table-knowledge tr th:first-child,#table-knowledge tr td:nth-child(3),#table-knowledge tr th:nth-child(3) {
    border-right: 1px solid;
}

.table .thead-dark th {
    color:floralwhite;
    background-color:#6E3F19;
}
