<div class="container">

  <nav aria-label="breadcrumb" class="pano-orio">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Chocolates Knowledge</li>
    </ol>
  </nav>

  <!------------------------------------------------------------------------------------------------------------>

  <div class="row row-content justify-content-center">
    <div class="col-12 col-sm-12">
      <div class="table-responsive">

        <table id="table-knowledge" class="table">

          <thead class="thead-dark">

            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Description</th>
            </tr>

          </thead>

          <tbody>

            <tr class="color-1">
              <td>1</td>
              <td>
                <div>
                  Milk Chocolate
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#milky" href="#" role="button">
                  <img class="img-fluid" src="../../assets/images-knowledge/milk.jpg" alt="milk chocolate"
                    style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px" width="50px">
                </a>
              </td>
              <td>Solid chocolate made with milk added in the form of powdered milk, liquid milk, or condensed milk.</td>
            </tr>

            <tr class="color-2">
              <td>2</td>
              <td>
                <div>
                  Dark Chocolate
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#darky" href="#" role="button">
                  <img src="../../assets/images-knowledge/Dark-Chocolate-800x416.jpg" alt="dark chocolate"
                    style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px" width="50px">
                </a>
              </td>
              <td>Also known as "plain chocolate", is produced using a higher percentage of cocoa with all fat content
                coming from cocoa butter instead of milk, but there are also "dark milk" chocolates and many degrees of
                hybrids.</td>
            </tr>

            <tr class="color-3">
              <td>3</td>
              <td>
                <div>
                  White Chocolate
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#whitey" href="#" role="button">
                  <img src="../../assets/images-knowledge/white.jpg" alt="white chocolate"
                    style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px" width="50px">
                </a>
              </td>
              <td> Made of sugar, milk, and cocoa butter, without the cocoa solids. It is pale ivory colour, and lacks
                many of the compounds found in milk and dark chocolates.</td>
            </tr>

            <tr class="color-4">
              <td>4</td>
              <td>
                <div>
                  Cocoa Powder
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#powdery" href="#" role="button">
                  <img src="../../assets/images-knowledge/cocoa-powder-lead.jpg.653x0_q80_crop-smart.jpg"
                    alt="cocoa powder" style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px"
                    width="50px">
                </a>
              </td>
              <td>The pulverized cocoa solids left after extracting almost all the cocoa butter. It is used to add
                chocolate flavour in baking, and for making chocolate drinks.</td>
            </tr>

            <tr class="color-5">
              <td>5</td>
              <td>
                <div>
                  Raw Chocolate
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#rawy" href="#" role="button">
                  <img src="../../assets/images-knowledge/raw_chocolate.png" alt="raw chocolate"
                    style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px" width="50px">
                </a>
              </td>
              <td>Chocolate that has not been processed, heated, or mixed with other ingredients. It is sold in
                chocolate-growing countries, and to a much lesser extent in other countries, often promoted as healthy.
              </td>
            </tr>

            <tr class="color-6">
              <td>6</td>
              <td>
                <div>
                  Compound Chocolate
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#compoundy" href="#" role="button">
                  <img src="../../assets/images-knowledge/Compound_chocolate.jpg" alt="compound chocolate"
                    style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px" width="50px">
                </a>
              </td>
              <td>The name for a confection combining cocoa with other vegetable fat, usually tropical fats or
                hydrogenated fats, as a replacement for cocoa butter.</td>
            </tr>

            <tr class="color-7">
              <td>7</td>
              <td>
                <div>
                  Modeling Chocolate
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#modely" href="#" role="button">
                  <img src="../../assets/images-knowledge/modeling-chocolate-9.jpg" alt="modeling chocolate"
                    style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px" width="50px">
                </a>
              </td>
              <td>A chocolate paste made by melting chocolate and combining it with corn syrup, glucose syrup, or golden
                syrup. It is primarily used by cakemakers and pâtisseries to add decoration to cakes and pastries.</td>
            </tr>

            <tr class="table-danger">
              <td>8</td>
              <td>
                <div>
                  Ruby Chocolate
                </div>
                <a type="button" class="btn" data-toggle="modal" data-target="#rubyty" href="#" role="button">
                  <img src="../../assets/images-knowledge/ruby.jpg" alt="ruby chocolate"
                    style="border-radius: 10px;border:5px solid rgb(109, 40, 40);" height="50px" width="50px">
                </a>
              </td>
              <td>Made from the Ruby cocoa bean, resulting in a distinct red colour and a different flavour, described
                as "sweet yet sour".</td>
            </tr>

          </tbody>

        </table>

      </div>
    </div>
  </div>

 <!----------------------------------------------------- MODALS --------------------------------------------------------->

  <!-----MILK------------------------------------------------------------------------------------------------------>
  <div id="milky" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> MILK</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/milk.jpg" alt="milk chocolate" height="300" width="400" >

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3 class="h5-margins">Milk Chocolate</h3>
            <p>Most delicious one !!</p>
          </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!------DARK----------------------------------------------------------------------------------------------------->

  <div id="darky" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">DARK </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/Dark-Chocolate-800x416.jpg" alt="dark chocolate" height="300" width="450">

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3 class="h5-margins">Dark Chocolate</h3>
            <p>The healthier one !!</p>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!-----WHITE------------------------------------------------------------------------------------------------------->

  <div id="whitey" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> WHITE</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/white.jpg" alt="white chocolate" height="300" width="400">

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3>White Chocolate</h3>
            <p>Exotic tastes !!</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!-----POWDER------------------------------------------------------------------------------------------------------>

  <div id="powdery" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> POWDER </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/cocoa-powder-lead.jpg.653x0_q80_crop-smart.jpg" alt="cocoa powder" height="300" width="450">

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3 class="h5-margins">Cocoa Powder</h3>
            <p>Cocoa Power Explosion !!</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!-------RAW---------------------------------------------------------------------------------------------------->

  <div id="rawy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> RAW </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/raw_chocolate.png" alt="raw chocolate" height="300" width="400">

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3>Raw Chocolate</h3>
            <p>Raw Power !!</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!-------COMPOUND-------------------------------------------------------------------------------------------------->

  <div id="compoundy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">COMPOUND</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/Compound_chocolate.jpg" alt="compound chocolate" height="300" width="400">

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3>Compound Chocolate</h3>
            <p>Cocoa Experiments !!</p>
          </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!--------MODELING------------------------------------------------------------------------------------------------->

  <div id="modely" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> MODELING </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/modeling-chocolate-9.jpg" alt="modeling chocolate" height="300" width="400">

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3>Modeling Chocolate</h3>
            <p>Syrup Choco Force !!</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!---------RUBY------------------------------------------------------------------------------------------------->

  <div id="rubyty" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" role="content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> RUBY </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body lightBrown">

          <img src="../../assets/images-knowledge/ruby.jpg" alt="ruby chocolate" height="350" width="400">

          <div class="carousel-caption d-none d-md-block offset-4">
            <h3 class="h5-margins">Ruby Chocolate</h3>
            <p>Ruby Ruby, pinky and fruity !!</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>



</div>

